	.baslik
	{
		color:green;
		font-family:arial;
		font-size:30px;
		text-align:center;
		font-weight:bold;
	}
	h1{
		
		color: coral;


	}
	.div1{
		
		background-color: rgb(14, 185, 102);
	width: 1366px;
	height: 130px;	
	border-width:1px ;
	border-left-width:5px;
	border-right-width: 5px;
	border-top-width: 10px;;
	border-bottom-width: 10px;
	border-color: rgb(8, 8, 8);
	border-style: inset;
	}
	.li{
	background-color: white;
	
	}
	.li:hover{
		background-color: rgb(13, 110, 221);
	}
	body{
		background-size: cover;
		background-repeat:no-repeat;

	}
	.navbar{
		height: 20vh;
		width: 100%;
		background-color: rgb(221, 230, 220);
		color: white;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-around;

	}
	.ma{
		color: blue;
	}
@keyframes animasyon {
	from { background-color: rgb(21, 193, 245);       }
	to { background-color:  rgb(240, 21, 21);     }
	
}
.kutu1 {
	animation-name: animasyon;
	animation-duration: 10s;

}
.kutu1:hover {
	animation-name: animasyon;
	animation-duration: 10s;
	

}
